@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://p.typekit.net/p.css?s=1&k=xci1jgh&ht=tk&f=41097.41111.41079.41082.41088.41091.41099.41102.41113.41116&a=171548360&app=typekit&e=css");

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

:root{
    /* Colors */
    --neutral-lowest: #FFFFFF;
    --neutral-hightest: #09090B;
    --primary-brand-medium: #6366F1;
    --primary-brand-lowest: #EEF2FF;

    /* Font size*/
    --display-h1: 80px;
    --label-smaller: 16px;

    /* Font familly */
    --display: 'roc_groteskcompressedXBd';

    /* Spacing */
    --4: 2px;
    --3xs: 4px;
    --2xs: 6px;
    --xs: 8px;
    --s: 12px;
    --m: 16px;
    --l: 24px;
    --xl: 32px;
    --2xl: 48px;
    --3xl: 64px;

    /* Radius */
    --radius-m: 4px;
    --radius-l: 8px;
    --radius-xl: 16px;
    --radius-round: 9999px;

    /* Buttons*/
    --button-background: var(--primary-brand-medium);
    --button-text: var(--primary-brand-lowest);
    --button-radius: var(--radius-xl);
    --button-padding-v: var(--s);
    --button-padding-h: var(--l);
    --button-spacing: var(--2xs);
}

body{
    width: 100vw;
    height: 100dvh;
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@font-face {
    font-family:"roc-grotesk-compressed";
    src:url("https://use.typekit.net/af/404af9/00000000000000007735b7d5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/404af9/00000000000000007735b7d5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/404af9/00000000000000007735b7d5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
    font-family:"roc-grotesk";
    src:url("https://use.typekit.net/af/975d46/00000000000000007735b7c3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/975d46/00000000000000007735b7c3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/975d46/00000000000000007735b7c3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}



h1{
    font-size: 200px;
    font-family:"roc-grotesk-compressed";
    text-transform: uppercase;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: fadeIn .5s .5s cubic-bezier( 0.57, 0.01, 0.75, 0.06 ) both;
}

h1 span {
    display: inline-block;
    animation: marque-animation 100s linear infinite;
}

@keyframes marque-animation {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(-100%,0);
    }
}

h5{
    font-size: 40px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    animation: textAppearFromBottom 1.3s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

h5 span {
    animation: textAppearFromBottom 1.3s .1s cubic-bezier(0.5, 0, 0.1, 1) both;
    background-image: linear-gradient(to top left, #4338CA, #6366F1, #A5B4FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.button{
    background: var(--button-background);
    padding: var(--button-padding-v) var(--button-padding-h);
    border-radius: var(--button-radius);
    color: var(--button-text);
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--2xs);

    transition: ease-out 150ms;
    animation: fadeIn .5s 1s cubic-bezier( 0.57, 0.01, 0.75, 0.06 ) both;
}

.button svg {
    height: 100%;
}

.button:hover{
    background: #4338CA;
    transition: ease-out 150ms;
}

@keyframes textAppearFromBottom {
    from {
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}

@media (min-width: 1000px) {
    h5{
        font-size: var(--label-smaller);
    }
    h1{
        font-size: 256px;
    }
    body{
        gap: 32px;
    }

}