.animated-title {
    display: flex;
    overflow: hidden;
    // text-emphasis: n;
    transition: unset !important;
    
    span {
        height: fit-content;
        position: relative;
    }

    .loaded {
        animation: test 1s cubic-bezier(0.3, 0.29, 0, 01) forwards;
    }
    .mobile {
        animation: test 0s linear forwards;
    }
}

@keyframes test {
    to {
        top: 0px;
    }
}