$neutral_50: #fafafa;
$neutral_100: #f4f4f5;
$neutral_200: #e4e4e7;
$neutral_300: #d4d4d8;
$neutral_400: #a1a1aa;
$neutral_500: #71717a;
$neutral_600: #52525b;
$neutral_700: #3f3f46;
$neutral_800: #27272a;
$neutral_900: #18181b;
$neutral_950: #09090b;




body {
    background-color: $neutral_50;
    color: $neutral_900;
}