@use './fonts.scss';

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.homepage {
    width: 100vw;
    height: 100vh;

    .wrapper_headings {
        z-index: 1;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: relative;
    
        .headings {
            background-color: #F53311;
            width: 100%;
            height: 100vh;
            color: white;
            
            padding: 70px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
    
            position: relative;
            overflow: hidden;
    
            .gradient_bottom, .gradient_top {
                opacity: 0;
            }
    
            .gradient_bottom {
                background-color: #FA6914;
                position: absolute;
                width: 1324px;
                height: 1324px;
                left: -30%;
                bottom: -60%;
                border-radius: 9999px;
                filter: blur(10rem);
            }
            
            .gradient_top {
                background-color: #FA6914;
                position: absolute;
                width: 1037px;
                height: 1037px;
                top: -60%;
                right: -40%;
                border-radius: 9999px;
                filter: blur(5rem);
            }
    
            .header {
                display: flex;
                justify-content: space-between;
                z-index: 1;
                h3 {
                    font-family: 'RocGrotesk';
                    font-weight: 300;
                    text-transform: uppercase;
                    font-size: 2rem;
                }
    
                button {
                    background: unset;
                    border: unset;
                    color: white;
                    opacity: 0;
    
                    font-family: 'RocGrotesk';
                    font-weight: 300;
                    text-transform: uppercase;
                    font-size: 2rem;
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
    
                    img {
                        width: 24px;
                        height: 24px;
                    }
    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
    
        }
    
    }


    .is_loaded {
        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
        padding: 20px;  
    
        * {
            transition: inherit;
        }
        
        .headings {
            padding: 50px;
            border-radius: 24px;
            height: calc(100vh - 40px);
    
            .header {
                button {
                    opacity: 1;
                }
            }
    
            .gradient_bottom, .gradient_top {
                opacity: 1;
            }
    
            
        }
    }
    
    .has_scrolled {
        padding: 0; 
        height: 179px;
        transition: unset;


    
        .headings {
            transition: height 1s cubic-bezier(0.3, 0.29, 0, 01), background 1s cubic-bezier(0.3, 0.29, 0, 0.1);
            border-radius: unset;
            padding: 70px;
            background: #000;
            height: 179px;
            
    
            .gradient_bottom, .gradient_top {
                opacity: 0;
            }
        }
    }

    .headings_footer {
        z-index: 2;
        height: 100vh;
        width: 100vw;
        padding: 70px;
        overflow: hidden;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        position: absolute;
        bottom: 0;
        right: 0;
        color: white;

        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        button {
            background: unset;
            border: unset;
            color: white;
            opacity: 0;
            height: fit-content;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            border-radius: 9999px;
            margin-bottom: 12px;

            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 264px;
                height: 264px;
                opacity: 0.2;
                border-radius: 9999px;
                border: 10px solid white;
            }
            
            &::before {
                content: "";
                position: absolute;
                width: 306px;
                height: 306px;
                opacity: 0.2;
                border-radius: 9999px;
                border: 10px solid white;
            }
        }
        
        .main_title {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
            margin-bottom: -20px;

            h1 {
                font-family: 'RocGrotesk';
                font-weight: 900;
                font-size: 15.625rem;
                line-height: 12.5rem;
                text-transform: uppercase;
            }

            h4 {
                font-family: 'Satoshi', sans-serif; 
                font-weight: 200;
                font-style: normal;
                font-size: 2.5rem;

                opacity: 0;
            }
        }
    }

    .footer_loaded {
        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);

        * {
            transition: inherit;
        }

        button {
            opacity: 1;
        }

        .main_title {
            h4 {
                opacity: 1;
            }
        }
    }

    .footer_scrolled {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);

        button, .main_title h4 {
            opacity: 0;

        }
    }

    
    
    .content {
        width: 100%;
        padding: 70px 70px;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;
        opacity: 0;
    
        .header {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            h1 {
                font-family: 'RocGrotesk';
                font-weight: 900;
                font-size: 6rem;
                line-height: 5rem;
                text-transform: uppercase;
            }

            .caroussel_nav {
                border: 1px solid black;
                display: flex;
                width: fit-content;
                height: fit-content;
                gap: 5px;
                padding: 5px;
                border-radius: 9999px;
                button {
                    background: unset;
                    border: 1px solid black;
                    border-radius: 9999px;
                    padding: 7.5px;

                    img {
                        display: block;
                    }
                }
            }
        }
    
        .caroussel {
            display: flex;
            gap: 25px;
            width: fit-content;

            
            .card {
                background: #FBFBFB;
                border-radius: 12px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                border: unset;

                &:hover {
                    cursor: pointer;
                }

    
                .img_container {
                    img {
                        max-width: 700px;
                        display: block;
                        border-top-left-radius: 12px;
                        border-top-right-radius: 12px;
                    }
                }
    
                .titles {
                    padding: 10px 20px 30px 20px;
                    position: relative;
                    overflow: hidden;

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    position: relative;
    
                    img {
                        z-index: 0;
                        width: 100%;
                        position: absolute;
                        top: -600px;
                        left: 0;
                        filter: blur(10rem);
                    }
    
                    h4 {
                        font-family: 'Satoshi', sans-serif; 
                        font-weight: 900;
                        font-style: normal;
                        font-size: 1.875rem;
                        text-transform: uppercase;
                        z-index: 1;
                        position: relative;
                    }
                    p {
                        font-family: 'Satoshi', sans-serif; 
                        font-weight: 400;
                        font-style: normal;
                        font-size: 0.75rem;
                        z-index: 1;
                        position: relative;
                    }
                }
            }

            @for $i from 1 through 10 {
                .card:nth-child(#{$i}) {
                    transform: translateY(#{($i - 1) * 150}px);
                }
            }
        }
    }

    .content_scrolled {
        opacity: 1;
        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
        transition-delay: 300ms;

        .caroussel {
            
            .card {
                transform: translateY(0) !important;
                transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
            }
        }
    }

}


@media (max-width: 1500px) {
    .homepage {
        .wrapper_headings {
            .headings {
                padding: 50px;

                .gradient_bottom {
                    left: -50%;
                    bottom: -80%;
                }
                .gradient_top{
                    top: -80%;
                    right: -50%;
                }
                .header {
                    h3 {
                        font-size: 1.25rem;
                    }
        
                    button {
                        font-size: 1.25rem;
                        line-height: 1rem;

                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }

        .is_loaded {
            .headings {
                padding: 30px;
            }
        }
        
        .has_scrolled {
            height: 124px;

            .headings {
                padding: 50px;
                height: 124px;
            }
        }

        .headings_footer {
            padding: 50px;


            button {
                img {
                    width: 22px;
                    height: 22px;
                }

                &::after {
                    width: 208px;
                    height: 208px;
                }
                
                &::before {
                    width: 240px;
                    height: 240px;
                }
            }

            
            .main_title {
                gap: 0px;

                h1 {
                    font-size: 11.75rem;
                    line-height: 10rem;
                }

                h4 {
                    font-size: 1.5rem;
                }
            }
        }

        .content {
            padding: 50px;

            .header {
                h1 {
                    font-size: 5rem;
                    line-height: 4rem;
                }
            }

            .caroussel {
                .card {
                    .titles {
                        padding: 10px 20px 20px 20px;

                        h4 {
                            font-size: 1.25rem;
                        }
                        p {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
    
        }
    }
}
