@use './colors.scss' as *;

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.homepage-scrolled {
    overflow: visible !important;
    height: fit-content !important;
}

.homepage {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .wrapper_headings {
        z-index: 1;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: relative;
    
        .headings {
            background-color: #F53311;
            width: 100%;
            height: 100vh;
            
            padding: 70px;
            display: flex;
            justify-content: center;
    
            position: relative;
            overflow: hidden;

            canvas {
                opacity: 0;
            }
    
            .gradient_bottom, .gradient_top {
                opacity: 1;
            }
    
            .gradient_bottom {
                background-color: #FA6914;
                position: absolute;
                width: 1324px;
                height: 1324px;
                left: -30%;
                bottom: -60%;
                border-radius: 9999px;
                filter: blur(10rem);
            }
            
            .gradient_top {
                background-color: #FA6914;
                position: absolute;
                width: 1037px;
                height: 1037px;
                top: -60%;
                right: -30%;
                border-radius: 9999px;
                filter: blur(5rem);
            }
    
            .wrapper_header {
                width: 100%;
                height: fit-content;
                overflow: hidden;
                position: relative;
                z-index: 1;

                .header {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    height: fit-content;
    
                    h3 {
                        font-family: 'RocGrotesk';
                        font-weight: 300;
                        text-transform: uppercase;
                        font-size: 2rem;
                        color: $neutral_50;
                    }
        
                    button {
                        background: unset;
                        border: unset;
                        color: $neutral_50;
                        opacity: 0;
        
                        font-family: 'RocGrotesk';
                        font-weight: 300;
                        text-transform: uppercase;
                        font-size: 2rem;
        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 15px;

                        position: relative;
                        overflow: hidden;
        
                        img {
                            width: 24px;
                            height: 24px;
                            transition: all .5s cubic-bezier(0.3, 0.29, 0, 01);
                        }

                        .to-translate {
                            position: absolute;
                            right: 0;
                            transform: translate3d(0, 150%, 0);
                        }
        
                        &:hover, &:focus {
                            cursor: pointer;

                            img {
                                transform: translate3d(0, -150%, 0);
                            }

                            .to-translate {
                                transform: translate3d(0, 0, 0);
                            }
                        }
                    }
    
                }

                .header_scroll {
                    position: absolute;
                    h3 {
                        font-size: 1.25rem;
                    }
        
                    button {
                        font-size: 1.25rem;
                        line-height: 1rem;

                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                

            }

    
        }
    
    }


    .is_loaded {
        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
        padding: 20px;  
    
        * {
            transition: inherit;
        }
        
        .headings {
            padding: 50px;
            border-radius: 24px;
            height: calc(100vh - 40px);

            canvas {
                transition: all 3s cubic-bezier(0.3, 0.29, 0, 01);
                opacity: 1;
            }
    
            .wrapper_header {
                .header {
                    button {
                        opacity: 1;
                    }
                }
            }
    
            .gradient_bottom, .gradient_top {
                opacity: 1;
            }
    
            
        }
    }
    
    .has_scrolled {
        padding: 0; 
        height: 179px;
        transition: unset;

        transition: padding 1s cubic-bezier(0.3, 0.29, 0, 01);
    
        .headings {
            transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
            border-radius: unset;
            padding: 70px;
            // background: #000;
            background: $neutral_950;
            height: 179px;

            canvas {
                transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);;
                opacity: 0;
            }

    
            .gradient_bottom, .gradient_top {
                opacity: 0;
            }

            .wrapper_header {

                .header {
                    button {
                        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01) .3s;
                        transform: translateY(-120%);
                    }
                    
                    h3 {
                        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
                        transform: translateY(-120%);
                    }
                }
            }
        }
    }

    .headings_footer {
        z-index: 2;
        height: 90vh;
        width: 100vw;
        padding: 70px;
        overflow: hidden;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        position: absolute;
        bottom: 0;
        right: 0;
        color: $neutral_50;
        color: $neutral_50;

        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        .wrapper_button {
            position: relative;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;

            &::after {
                content: "";
                position: absolute;
                width: 264px;
                height: 264px;
                opacity: 0.2;
                border-radius: 9999px;
                border: 10px solid $neutral_50;
            }
            
            &::before {
                content: "";
                position: absolute;
                width: 306px;
                height: 306px;
                opacity: 0.2;
                border-radius: 9999px;
                border: 10px solid $neutral_50;
            }

            button {
                background: unset;
                border: unset;
                height: fit-content;
                background: $neutral_50;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px;
                border-radius: 9999px;
                margin-bottom: 12px;
                overflow: hidden;
                z-index: 1;
    
                position: relative;
    
                img {
                    transition: all .5s cubic-bezier(0.3, 0.29, 0, 01);
                }
    
                .to-slide {
                    position: absolute;
                    transform: translateY(-175%);             
                }
    
                &:hover, &:focus {
                    cursor: pointer;
    
                    .to-slide {
                        transform: translateY(0%);    
                    }
                    
                    img {
                        transform: translateY(175%);    
                        
                    }
                }
    
            }
        }
        
        .main_title {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
            margin-bottom: -20px;

            h1 {
                font-family: 'RocGrotesk';
                font-weight: 900;
                font-size: 15.625rem;
                line-height: 12.5rem;
                text-transform: uppercase;
            }

            h4 {
                font-family: 'Satoshi', sans-serif; 
                font-weight: 200;
                font-style: normal;
                font-size: 2.5rem;

                opacity: 0;
            }
        }
    }

    .footer_loaded {
        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);

        * {
            transition: inherit;
        }

        .wrapper_button {
            opacity: 1;
        }

        .main_title {
            h4 {
                opacity: 1;
            }
        }
    }

    .footer_scrolled {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
        animation: removeFromDOM 0s 1s forwards;

        .wrapper_button button, .main_title h4 {
            opacity: 0;
        }
    }

    
    
    .content {
        width: 100%;
        max-width: 1920px;
        margin: auto;
        padding: 70px 70px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        opacity: 0;
        background: $neutral_50;
        color: $neutral_950;
    
        .header {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            h1 {
                font-family: 'RocGrotesk';
                font-weight: 900;
                font-size: 6rem;
                line-height: 5rem;
                text-transform: uppercase;
            }

            .caroussel_nav {
                border: 1px solid $neutral_950;
                display: flex;
                width: fit-content;
                height: fit-content;
                gap: 5px;
                padding: 5px;
                border-radius: 9999px;

                button {
                    background: unset;
                    border: 1px solid $neutral_950;
                    border-radius: 9999px;
                    padding: 7.5px;
                    transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
                    position: relative;
                    overflow: hidden;

                    img {
                        display: block;
                        transition: all .5s cubic-bezier(0.3, 0.29, 0, 01);
                    }


                    .toSlide {
                        position: absolute;
                        top: 50%;
                        transform: translate(-150%, -50%);
                    }
                    
                    &:not([disabled]):hover, &:not([disabled]):focus {
                        cursor: pointer;

                        img {
                            transform: translateX(150%);
                        }
                        
                        .arrow-left {
                            transform: translateX(-150%);
                        }

                        .toSlide {
                            transform: translate(0%, -50%);
                        }
                        
                        .toSlide-left {
                            transform: translate(0%, -50%);
                        }
                    }

                    &:disabled {
                        opacity: 0.3;
                    }
                }
            }
        }
    
        .caroussel_wrapper {
            overflow-x: hidden;
            width: 100%;

            -ms-overflow-style: none; /* IE et Edge */
            scrollbar-width: none;    /* Firefox */

            &::-webkit-scrollbar {
                display: none; /* Chrome, Safari, Edge */
            }


            .caroussel {
                display: flex;
                gap: 10px;
                min-width: max-content;
                
                .card {
                    min-width: fit-content;
                    background: $neutral_50;
                    color: $neutral_950;
                    border-radius: 16px;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    border: unset;
    
                    &:hover, &:focus {
                        cursor: pointer;

                        .img_container {
                            img {
                                scale: 1.045;
                            }
                        }

                        .titles {
                            img {
                                bottom: 200%;
                            }
                        }
                    }
    
        
                    .img_container {
                        max-width: 800px;
                        max-height: 505px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            transition: all .5s cubic-bezier(0.3, 0.29, 0, 01);
                            width: 100%;
                            display: block;
                        }
                    }
        
                    .titles {
                        padding: 20px 30px 30px 30px;
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        background: $neutral_150;
    
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        position: relative;
        
                        img {
                            z-index: 0;
                            width: 100%;
                            position: absolute;
                            bottom: 300%;
                            width: 100%;
                            left: 0;
                            filter: blur(10rem);
                            transition: all .5s cubic-bezier(0.3, 0.29, 0, 01);
                        }
        
                        h4 {
                            font-family: 'Satoshi', sans-serif; 
                            font-weight: 900;
                            font-style: normal;
                            font-size: 1.875rem;
                            text-transform: uppercase;
                            z-index: 1;
                            position: relative;
                        }
                        p {
                            font-family: 'Satoshi', sans-serif; 
                            font-weight: 400;
                            font-style: normal;
                            font-size: 0.75rem;
                            z-index: 1;
                            position: relative;
                        }
                    }
                }
                
                @for $i from 1 through 10 {
                    .card:nth-child(#{$i}) {
                        transform: translateY(#{($i ) * 200}px);
                    }
                }
            }
        }
    }

    .content_scrolled {
        opacity: 1;
        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
        transition-delay: 350ms;
        // z-index: ;

        .caroussel_wrapper {
            .caroussel {
                .card {
                    transform: translateY(0) !important;
                    transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
                }
            }
        }
    }

}

@media (min-width: 1950px) {
    .homepage {
        .content {
            .caroussel_wrapper {
                overflow-x: unset;
            }
        }
    }
}


@media (max-width: 1500px) {
    .homepage {
        .wrapper_headings {
            .headings {
                padding: 50px;

                .gradient_bottom {
                    left: -50%;
                    bottom: -80%;
                }
                .gradient_top{
                    top: -80%;
                    right: -50%;
                }

                .wrapper_header {
                    .header {
                        h3 {
                            font-size: 1.25rem;
                        }
            
                        button {
                            font-size: 1.25rem;
                            line-height: 1rem;
                            gap: 10px;

                            img {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }

                    .header_scroll {
                        h3 {
                            font-size: 1rem;
                        }
            
                        button {
                            font-size: 1rem;
                            line-height: 1rem;
                            gap: 10px;
    
                            img {
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }
                }
            }
        }

        .is_loaded {
            .headings {
                padding: 30px;
            }
        }
        
        .has_scrolled {
            height: 124px;
            
            .headings {
                padding: 50px;
                height: 124px;
            }
        }

        .headings_footer {
            padding: 50px;


            .wrapper_button {

                &::after {
                    width: 208px;
                    height: 208px;
                }
                
                &::before {
                    width: 240px;
                    height: 240px;
                }
                button {
                    img {
                        width: 22px;
                        height: 22px;
                    }
    
                }
            }

            
            .main_title {
                gap: 0px;

                h1 {
                    font-size: 11.75rem;
                    line-height: 10rem;
                }

                h4 {
                    font-size: 1.5rem;
                }
            }
        }

        .content {
            padding: 50px;

            .header {
                h1 {
                    font-size: 5rem;
                    line-height: 4rem;
                }
            }

            .caroussel_wrapper {
                .caroussel {
                    .card {
                        .titles {
                            padding: 15px 20px 20px 20px;
    
                            h4 {
                                font-size: 1.25rem;
                            }
                            p {
                                font-size: 0.75rem;
                            }
                        }
                    }
                }
        
            }
        }
    }
}

@media (max-width: 768px) {
    .homepage {
        overflow: visible;
        height: fit-content;

        .wrapper_headings {
            .headings {
                .wrapper_header {
                    .header {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 5px;

                        h3 {
                            font-weight: 500;
                        }

                        button {
                            font-size: 1rem;
                            font-family: 'Satoshi';
                            font-weight: 400;
                            img {
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }
                }
            }
        }

        .is_loaded {
            padding: 0;
            transition: unset;

            .headings {
                height: 100svh;
                border-radius: unset;
                padding: 15px;
            }
        }

        .headings_footer {
            padding: 15px;
            justify-content: flex-end;
            height: fit-content;

            .wrapper_button {
                display: none;

                button {
                    margin-bottom: unset;
                }
            }

            .main_title {
                margin-bottom: unset;
                h1 {
                    font-size: 4rem;
                    line-height: 4rem;
                    letter-spacing: .5px;
                }
            }
        }

        .content {
            opacity: 1;
            padding: 15px;
            margin-top: 30px;
            gap: 10px;

            .header {
                h1 {
                    font-size: 2rem;
                    line-height: 2rem;
                }

                .caroussel_nav {
                    display: none;
                }
            }

            .caroussel_wrapper {
                .caroussel {
                    flex-direction: column;
                    width: 100%;
                    min-width: unset;

                    .card {
                        border-radius: 8px;

                        .titles {
                            padding: 10px 12.5px 12.5px 12.5px;
                            background: $neutral_150;

                            h4 {
                                font-size: 1rem;
                                letter-spacing: -0.2px;
                            }

                            p {
                                text-align: left;
                                font-size: 0.75rem;
                            }

                            img {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}


@keyframes removeFromDOM {
    to {
        display: none;
    }   
}