@use './colors.scss' as *;

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.homepage-scrolled {
    overflow: visible !important;
    height: fit-content !important;
}

.homepage {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .wrapper_headings {
        z-index: 1;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: relative;
    
        .headings {
            background-color: #F53311;
            width: 100%;
            height: 100vh;
            
            padding: 70px;
            display: flex;
            justify-content: center;
    
            position: relative;
            overflow: hidden;

            canvas {
                opacity: 0;
            }

            .wrapper_header {
                width: 100%;
                height: fit-content;
                overflow: hidden;
                position: relative;
                z-index: 1;

                .header {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    height: fit-content;
    
                    h3 {
                        font-family: 'RocGrotesk';
                        font-weight: 300;
                        text-transform: uppercase;
                        font-size: 2rem;
                        color: $neutral_50;
                    }
        
                    button {
                        background: unset;
                        border: unset;
                        color: $neutral_50;
                        opacity: 0;
        
                        font-family: 'RocGrotesk';
                        font-weight: 300;
                        text-transform: uppercase;
                        font-size: 2rem;
        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 15px;

                        position: relative;
                        overflow: hidden;
        
                        img {
                            width: 24px;
                            height: 24px;
                            transition: all .5s cubic-bezier(0.3, 0.29, 0, 01);
                        }

                        .to-translate {
                            position: absolute;
                            right: 0;
                            transform: translate3d(0, 150%, 0);
                        }
        
                        &:hover, &:focus {
                            cursor: pointer;

                            img {
                                transform: translate3d(0, -150%, 0);
                            }

                            .to-translate {
                                transform: translate3d(0, 0, 0);
                            }
                        }
                    }
    
                }

                .header_scroll {
                    position: absolute;
                    h3 {
                        font-size: 1.25rem;
                    }
        
                    button {
                        font-size: 1.25rem;
                        line-height: 1rem;

                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                

            }

    
        }
    
    }


    .is_loaded {
        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
        padding: 20px;  
    
        * {
            transition: inherit;
        }
        
        .headings {
            padding: 50px;
            border-radius: 24px;
            height: calc(100vh - 40px);

            canvas {
                transition: all 3s cubic-bezier(0.3, 0.29, 0, 01);
                opacity: 1;
            }
    
            .wrapper_header {
                .header {
                    button {
                        opacity: 1;
                    }
                }
            }
    
            
        }
    }
    
    .has_scrolled {
        padding: 0; 
        height: 100px;
        transition: unset;

        position: fixed;
        top: 0;

        transition: padding 1s cubic-bezier(0.3, 0.29, 0, 01);
    
        .headings {
            transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
            border-radius: unset;
            padding: 30px 70px;
            background: $neutral_950;
            height: 100px;

            canvas {
                transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);;
                opacity: 0;
            }

            .wrapper_header {

                .header {
                    button {
                        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01) .3s;
                        transform: translateY(-120%);
                    }
                    
                    h3 {
                        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
                        transform: translateY(-120%);
                    }
                }
            }
        }
    }

    .headings_footer {
        z-index: 2;
        height: 90vh;
        width: 100vw;
        padding: 70px;
        overflow: hidden;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        position: absolute;
        bottom: 0;
        right: 0;
        color: $neutral_50;
        color: $neutral_50;

        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        .wrapper_button {
            position: relative;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;

            &::after {
                content: "";
                position: absolute;
                width: 264px;
                height: 264px;
                opacity: 0.2;
                border-radius: 9999px;
                border: 10px solid $neutral_50;
            }
            
            &::before {
                content: "";
                position: absolute;
                width: 306px;
                height: 306px;
                opacity: 0.2;
                border-radius: 9999px;
                border: 10px solid $neutral_50;
            }

            button {
                background: unset;
                border: unset;
                height: fit-content;
                background: $neutral_50;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px;
                border-radius: 9999px;
                margin-bottom: 12px;
                overflow: hidden;
                z-index: 1;
    
                position: relative;
    
                img {
                    transition: all .5s cubic-bezier(0.3, 0.29, 0, 01);
                }
    
                .to-slide {
                    position: absolute;
                    transform: translateY(-175%);             
                }
    
                &:hover, &:focus {
                    cursor: pointer;
    
                    .to-slide {
                        transform: translateY(0%);    
                    }
                    
                    img {
                        transform: translateY(175%);    
                        
                    }
                }
    
            }
        }
        
        .main_title {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
            margin-bottom: -20px;

            h1 {
                font-family: 'RocGrotesk';
                font-weight: 900;
                font-size: 15.625rem;
                line-height: 12.5rem;
                text-transform: uppercase;
            }

            h4 {
                font-family: 'Satoshi', sans-serif; 
                font-weight: 200;
                font-style: normal;
                font-size: 2.5rem;

                opacity: 0;
            }
        }
    }

    .footer_loaded {
        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);

        * {
            transition: inherit;
        }

        .wrapper_button {
            opacity: 1;
        }

        .main_title {
            h4 {
                opacity: 1;
            }
        }
    }

    .footer_scrolled {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
        animation: removeFromDOM 0s 1s forwards;

        .wrapper_button button, .main_title h4 {
            opacity: 0;
        }
    }

    
    
    .content {
        width: 100%;
        max-width: 1920px;
        margin: auto;
        padding: 50px 24px;
        margin-top: 100px;
        opacity: 0;
        background: $neutral_50;
        color: $neutral_950;
        overflow-x: hidden;

        display: flex;
        flex-direction: column;
        gap: 100px;

        .section-caroussel {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .header {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                h1 {
                    font-family: 'RocGrotesk';
                    font-weight: 900;
                    font-size: 7rem;
                    line-height: 6rem;
                    text-transform: uppercase;
                }

                .caroussel_nav {
                    border: 1px solid $neutral_950;
                    display: flex;
                    width: fit-content;
                    height: fit-content;
                    gap: 5px;
                    padding: 5px;
                    border-radius: 9999px;

                    button {
                        background: unset;
                        border: 1px solid $neutral_950;
                        border-radius: 9999px;
                        padding: 7.5px;
                        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
                        position: relative;
                        overflow: hidden;

                        img {
                            display: block;
                            transition: all .5s cubic-bezier(0.3, 0.29, 0, 01);
                        }


                        .toSlide {
                            position: absolute;
                            top: 50%;
                            transform: translate(-150%, -50%);
                        }
                        
                        &:not([disabled]):hover, &:not([disabled]):focus {
                            cursor: pointer;

                            img {
                                transform: translateX(150%);
                            }
                            
                            .arrow-left {
                                transform: translateX(-150%);
                            }

                            .toSlide {
                                transform: translate(0%, -50%);
                            }
                            
                            .toSlide-left {
                                transform: translate(0%, -50%);
                            }
                        }

                        &:disabled {
                            opacity: 0.3;
                        }
                    }
                }
            }
        
            .caroussel_wrapper {
                width: 100%;

                -ms-overflow-style: none; /* IE et Edge */
                scrollbar-width: none;    /* Firefox */

                &::-webkit-scrollbar {
                    display: none; /* Chrome, Safari, Edge */
                }


                .caroussel {
                    display: flex;
                    gap: 10px;
                    min-width: max-content;
                    
                    .card {
                        min-width: fit-content;
                        background: $neutral_50;
                        color: $neutral_950;
                        border-radius: 8px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        border: unset;
        
                        &:hover, &:focus {
                            cursor: pointer;

                            .img_container {
                                img {
                                    scale: 1.045;
                                }
                            }

                            .titles {
                                img {
                                    bottom: 200%;
                                }
                            }
                        }
        
            
                        .img_container {
                            width: 800px;
                            max-height: 505px;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                transition: all .5s cubic-bezier(0.3, 0.29, 0, 01);
                                width: 100%;
                                display: block;
                            }
                        }
            
                        .titles {
                            padding: 20px 30px 30px 30px;
                            position: relative;
                            overflow: hidden;
                            width: 100%;
                            background: $neutral_150;
        
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            position: relative;
            
                            img {
                                z-index: 0;
                                width: 100%;
                                position: absolute;
                                bottom: 300%;
                                width: 100%;
                                left: 0;
                                filter: blur(10rem);
                                transition: all .5s cubic-bezier(0.3, 0.29, 0, 01);
                            }
            
                            h4 {
                                font-family: 'Satoshi', sans-serif; 
                                font-weight: 900;
                                font-style: normal;
                                font-size: 1.875rem;
                                text-transform: uppercase;
                                z-index: 1;
                                position: relative;
                            }
                            p {
                                font-family: 'Satoshi', sans-serif; 
                                font-weight: 400;
                                font-style: normal;
                                font-size: 0.75rem;
                                z-index: 1;
                                position: relative;
                            }
                        }
                    }
                    
                    @for $i from 1 through 10 {
                        .card:nth-child(#{$i}) {
                            transform: translateY(#{($i ) * 200}px);
                        }
                    }
                }
            }
        }

        .section-professional {
            min-height: 1000px;
            background: $neutral_950;
            border-radius: 20px;
            padding: 10px;

            .header{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                width: 100%;
                color: $neutral_50;

                padding: 120px 20px 20px 20px;

                a {
                    text-decoration: unset;
                    color: inherit;
                    font-family: 'Satoshi';
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 1.25rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;


                    .wrapper-translation {
                        position: relative;
                        height: fit-content;
                        width: fit-content;
                        overflow: hidden;

                        img {
                            height: 1rem;
                            display: block;
                            transition: all 0.5s cubic-bezier(0.3, 0.29, 0, 1);
                        }

                        .to-translate {
                            top: calc(100% + 35px);
                            position: absolute;
                        }
                    }
                    
                    &:hover, &:focus {
                        .wrapper-translation {
                            img {
                                transform: translateY(-100%);
                            }
                            .to-translate {
                                transform: translateY(calc(-100% - 35px));
                            }
                        }
                    }
        
                }

                h1 {
                    font-family: 'RocGrotesk';
                    text-transform: uppercase;
                    font-size: 8rem;
                    line-height: 6.75rem;
                    position: relative;
                }
            }

            .wrapper-content {
                background: $neutral_800;
                width: 100%;
                color: $neutral_50;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                .explore {
                    position: absolute;
                    top: 0;
                    left: 0;

                    text-decoration: none;
                    color: $neutral_100;
                    min-width: fit-content;

                    .wrapper {
                        transition: transform 0.45s cubic-bezier(0.5, 1.7, 0.4, 0.8), opacity 0.45s cubic-bezier(0.5, 1.7, 0.4, 0.8);

                        border: 1px solid $neutral_100;
                        border-radius: 999px;
                        padding: 7.5px 15px;
                        background: $neutral_800;

                        .wrapper-translation {
                            overflow: hidden;
                            position: relative;

                            .content-explore {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 10px;
                                width: fit-content;
                                position: relative;
                                transition: all .5s cubic-bezier(0.3, 0.29, 0, 01);
    
                                h5 {
                                    text-transform: uppercase;
                                    font-family: 'Satoshi';
                                    font-weight: 600;
                                    font-size: 1rem;
                                    text-decoration: none;
                                    white-space: nowrap;
                                }
        
                                .wrapper-img {
                                    width: 0.9rem;
                                    img {
                                        width: 100%;
                                        display: block;
                                    }
                                }
    
                            }
    
                            .to-translate {
                                position: absolute;
                            }
                        }

                        &:hover {
                            .wrapper-translation {
                                .content-explore {
                                    transform: translateY(-100%);
                                }
                            }
                        }

                    }
                }

                .line {
                    text-decoration: none;
                    color: $neutral_100;
                    width: 100%;
                    display: flex;
                    padding: 30px 20px;

                    .dates {
                        flex: 1;
                        display: flex;
                        gap: 10px;
                        

                        p {
                            text-transform: uppercase;
                            font-family: 'Satoshi';
                            font-weight: 700;
                            font-size: 0.75rem;
                            position: relative;
                        }

                        .month {
                            opacity: .4;
                        }
                    }

                    h2 {
                        flex: 2;
                        font-family: 'Satoshi';
                        font-size: 2.25rem;
                        font-weight: 900;
                    }

                    .description {
                        display: flex;
                        gap: 30px;

                        .summary {
                            max-width: 500px;
                            display: flex;
                            flex-direction: column;
                            gap: 15px;

                            .titles {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;

                                h5 {
                                    font-size: 0.875rem;
                                    font-family: 'Satoshi';
                                    text-transform: uppercase;
                                    font-weight: 900;
                                }
                                
                                p {
                                    font-size: 0.875rem;
                                    font-family: 'Satoshi';
                                    font-weight: 200;
                                    opacity: .7;
                                }
                            }

                            .tags {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 5px;

                                p {
                                    background: $neutral_700;
                                    padding: 5px 10px;
                                    text-transform: uppercase;
                                    font-family: 'Satoshi';
                                    font-weight: 300;
                                    font-size: 0.875rem;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                }

                .separator {
                    width: calc(100% - 40px);
                    height: 1px;
                    border-radius: 999px;
                    background: $neutral_100;
                    opacity: .2;
                }
            }
        }
    
    }

    .content_scrolled {
        opacity: 1;
        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
        transition-delay: 350ms;

        .section-caroussel {
            .caroussel_wrapper {
                .caroussel {
                    .card {
                        transform: translateY(0) !important;
                        transition: all 1s cubic-bezier(0.3, 0.29, 0, 01);
                    }
                }
            }
        }

    }

}

@media (min-width: 1950px) {
    .homepage {
        .content {
            overflow-x: unset;
        }
    }
}


@media (max-width: 1500px) {
    .homepage {
        .wrapper_headings {
            .headings {
                padding: 50px;

                .wrapper_header {
                    .header {
                        h3 {
                            font-size: 1.25rem;
                        }
            
                        button {
                            font-size: 1.25rem;
                            line-height: 1rem;
                            gap: 10px;

                            img {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }

                    .header_scroll {
                        h3 {
                            font-size: 1rem;
                        }
            
                        button {
                            font-size: 1rem;
                            line-height: 1rem;
                            gap: 10px;
    
                            img {
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }
                }
            }
        }

        .is_loaded {
            .headings {
                padding: 30px;
            }
        }
        
        .has_scrolled {
            height: 75px;
            
            .headings {
                height: 75px;
                padding: 27.75px 50px;
            }
        }

        .headings_footer {
            padding: 50px;


            .wrapper_button {

                &::after {
                    width: 208px;
                    height: 208px;
                }
                
                &::before {
                    width: 240px;
                    height: 240px;
                }
                button {
                    img {
                        width: 22px;
                        height: 22px;
                    }
    
                }
            }

            
            .main_title {
                gap: 0px;

                h1 {
                    font-size: 11.75rem;
                    line-height: 10rem;
                }

                h4 {
                    font-size: 1.5rem;
                }
            }
        }

        .content {
            padding: 42px 24px;
            margin-top: 75px;

            
            .section-caroussel {
                .header {
                    h1 {
                        font-size: 5rem;
                        line-height: 4rem;
                    }
                }
                
                .caroussel_wrapper {
                    .caroussel {
                        .card {

                            .img_container {
                                width: 600px;
                            } 

                            .titles {
                                padding: 15px 20px 20px 20px;
        
                                h4 {
                                    font-size: 1.25rem;
                                }
                                p {
                                    font-size: 0.75rem;
                                }
                            }
                        }
                    }
            
                }
            }

            .section-professional {
                .header {
                    h1 {
                        font-size: 5rem;
                        line-height: 4rem;
                    }

                    a {
                      font-size: 1rem;  
                    }
                }

                .wrapper-content {
                    .line {
                        .dates {
                            .date {
                                p {
                                    font-size: 0.65rem;
                                }
                            }
                        }

                        h2 {
                            font-size: 2rem;
                        }

                        .description {
                            .summary {
                                max-width: 300px;
                                .titles {
                                    h5 {
                                        font-size: 0.75rem;
                                    }
                                    p {
                                        font-size: 0.75rem;
                                        
                                    }
                                }
                                .tags {
                                    p {
                                        font-size: 0.75rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

@media (max-width: 768px) {
    .homepage {
        overflow: visible;
        height: fit-content;

        .wrapper_headings {
            .headings {
                .wrapper_header {
                    .header {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 5px;

                        h3 {
                            font-weight: 500;
                        }

                        button {
                            font-size: 1rem;
                            font-family: 'Satoshi';
                            font-weight: 400;
                            img {
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }
                }
            }
        }

        .is_loaded {
            padding: 0;
            transition: unset;

            .headings {
                height: 100svh;
                border-radius: unset;
                padding: 15px;
            }
        }

        .headings_footer {
            padding: 15px;
            justify-content: flex-end;
            height: fit-content;

            .wrapper_button {
                display: none;

                button {
                    margin-bottom: unset;
                }
            }

            .main_title {
                margin-bottom: unset;
                h1 {
                    font-size: 4rem;
                    line-height: 4rem;
                    letter-spacing: .5px;
                }
            }
        }

        .content {
            opacity: 1;
            padding: 15px;
            margin-top: 30px;
            gap: 75px;

            .section-caroussel {
                gap: 10px;
                .header {
                    h1 {
                        font-size: 2.25rem;
                        line-height: 2.25rem;
                    }
    
                    .caroussel_nav {
                        display: none;
                    }
                }
    
                .caroussel_wrapper {
                    .caroussel {
                        flex-direction: column;
                        width: 100%;
                        min-width: unset;
    
                        .card {
                            border-radius: 8px;
    
                            .img_container {
                                width: 100%;
                            }
    
                            .titles {
                                padding: 10px 12.5px 12.5px 12.5px;
                                background: $neutral_150;
    
                                h4 {
                                    font-size: 1rem;
                                    letter-spacing: -0.2px;
                                }
    
                                p {
                                    text-align: left;
                                    font-size: 0.75rem;
                                }
    
                                img {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .section-professional {
                border-radius: 12px;
                .header {
                    gap: 20px;
                    padding: 40px 5px 20px 5px;

                    h1 {
                        font-size: 2.25rem;
                        line-height: 2rem;
                        width: 100%;
                        word-spacing: 100px;
                    }

                    a {
                        font-size: 0.75rem;
                        gap: 5px;

                        .wrapper-translation {

                            img {
                                height: 0.75rem;
                            }
                        }
                    }

                }

                .wrapper-content {
                    padding: 0 10px;

                    .line {
                        flex-direction: column;
                        gap: 20px;
                        padding: 15px 0;

                        .dates {
                            align-self: flex-end;
                            .date {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;
                            }
                        }

                        h2 {
                            font-size: 1.5rem;
                            letter-spacing: -0.2px;
                        }

                        .description {
                            flex-direction: column;
                            gap: 15px;

                        }
                    }

                    .separator {
                        width: calc(100%);
                    }
                }
            }

        }
    }
}


@keyframes removeFromDOM {
    to {
        display: none;
    }   
}