@use './colors.scss' as *;

.wrapper-project {
    width: 100%;
    max-width: 1920px;
    height: fit-content;
    margin: auto;
    padding: 20px;
    background: $neutral_50;

    display: flex;
    gap: 50px;

    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1),
        max-width 1s cubic-bezier(0.645, 0.045, 0.355, 1),
        opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);

    * {
        transition: inherit;
    }



    .wrapper-description {
        max-width: 475px;
        width: fit-content;
        position: sticky;
        top: 0;
        overflow: hidden;
        color: $neutral_950;

        h1 {
            font-family: 'RocGrotesk';
            font-weight: 900;
            font-size: 5rem;
            line-height: 4.75rem;
            text-transform: uppercase;
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-top: -10px;

            h4 {
                font-family: 'Satoshi', sans-serif; 
                font-weight: 400;
                font-style: normal;
                font-size: 0.875rem;
                text-transform: uppercase;
                border: 2px solid $neutral_950;
                width: fit-content;
                padding: 5px 20px;
                border-radius: 999px;
            }
        }

        p {
            font-family: 'Satoshi', sans-serif; 
            font-weight: 400;
            font-style: normal;
            font-size: 0.875rem;
        }

        .description {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            min-width: 475px;

            .details {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 30px;
            }

            .urls {
                display: flex;
                flex-direction: column;
                gap: 5px;

                transition: all .5s cubic-bezier(0.3, 0.29, 0, 01);

                a {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px;
                    border-radius: 12px;
                    text-decoration: none;

                        
                    p {
                        font-family: 'Satoshi', sans-serif; 
                        font-weight: 900;
                        font-style: normal;
                        font-size: 1.25rem;
                        text-transform: uppercase;
                    }

                }

                .company {
                    width: 100%;
                    border: 2px solid $neutral_950;
                    color: $neutral_950;

                    &:hover, &:focus {
                        .wrapper-translation {
                            img, p {
                                transform: translateY(-25px);
                            }
                            .to-translate {
                                transform: translateY(-0);
                            }
                        }

                    }
                }

                .site {
                    background: $neutral_950;
                    color: $neutral_50;
    
    
                    .left {
                        display: flex;
                        align-items: center;
                        gap: 20px;
    
                        .dot {
                            background: #ED0000;
                            width: 13px;
                            height: 13px;
                            border-radius: 100%;
                            animation: wink 1s infinite;
                        }
                    }

                    img {
                        filter: invert(100%);
                    }

                    &:hover, &:focus {
                        .wrapper-translation {
                            img, p {
                                transform: translateY(-25px);
                            }
                            .to-translate {
                                transform: translateY(-0);
                            }
                        }

                    }
    
    
                    
                }

                .wrapper-translation {
                    position: relative;
                    overflow: hidden;

                    .to-translate {
                        position: absolute;
                        top: 0;
                        left: 0;

                        transform: translateY(25px);
                    }
                }
            }

        }


        .description-scroll {
            transform: translate(calc(475px + 50px), -100%);
            width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;


            h1 {
                writing-mode: vertical-lr;
                transform: rotate(180deg);
                font-size: 3.125rem;
                line-height: 3.125rem;
                padding: 30px;
            }

            .urls {
                display: flex;
                flex-direction: column;
                gap: 5px;

                a {
                    display: flex;
                    text-decoration: none;
                    gap: 5px;
                    padding: 10px 20px;
                    border-radius: 12px;
    
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    transition: all .5s cubic-bezier(0.3, 0.29, 0, 01);
    
                    p {
                        font-family: 'Satoshi', sans-serif; 
                        font-weight: 500;
                        font-style: normal;
                        font-size: 0.75rem;
                        text-transform: uppercase;
                    }

                    .wrapper-translation {
                        position: relative;
                        overflow: hidden;

                        .to-translate {
                            position: absolute;
                            top: 0;
                            left: 0;

                            transform: translateY(20px);
                        }
                    }
                }

                .site {
                    background: $neutral_950;

                    p {
                        color: $neutral_50;
                    }

                    img {
                        filter: invert(100%);
                    }

                    &:hover, &:focus {
                        p, img {
                            transform: translateY(-20px);
                        }

                        .wrapper-translation {

                            .to-translate {
                                transform: translateY(0);
                            }
                        }
                    }
                }

                .company {
                    background: $neutral_50;
                    border: 1px solid $neutral_950;

                    p {
                        color: $neutral_950;
                    }

                    &:hover, &:focus {
                        p, img {
                            transform: translateY(-20px);
                        }

                        .wrapper-translation {

                            .to-translate {
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }
        }
    }

    .wrapper-images {

        img {
            width: 100%;
            border-radius: 16px;
            margin-bottom: 10px;
            display: block;

        }

        img:nth-last-child(1) {
            margin-bottom: 0;
        }

        .row {
            display: flex;
            max-width: 100%;
            gap: 10px;
            margin-bottom: 10px;


            img {
                width: calc(50% - 5px);
                max-height: 100%;
                margin-bottom: unset;
            }


        }

        > :last-child {
            margin-bottom: 0;
        }

    }
}

.wrapper-project-scrolled {

    .wrapper-description {
        max-width: 130px;

        .description {
            transform: translateX(calc(-100% - 50px));
            opacity: 0;
        }
    
        .description-scroll{
            transform: translate(0, -100%) !important;
        }
    }
}


@keyframes wink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.wrapper-next-project {
    width: 100%;
    padding: 20px 20px 20px 20px;
    // padding-top: 100px;

    display: flex;
    flex-direction: column;
    gap: 100px;
    // align-items: flex-end;
    align-items: center;

    .transition {
        width: 100%;
        // border: 1px solid red;
        display: flex;
        border-top: 3px solid black;
        justify-content: flex-end;
        padding: 20px;

        h4 {
            font-family: 'Satoshi';
            font-weight: 500;
            font-size: 1.5rem;
            // font-style: italic;
            // width: 100%;
            text-transform: uppercase;
            letter-spacing: -0.5px;
            // width: 100%;
        }
    }

    button {
        border: unset;
        background: $neutral_50;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        
        .wrapper-img-to-move {
            position: relative;
            transition: transform .5s cubic-bezier(0.3, 0.29, 0, 01);
            * {
                transition: inherit;
            }
            overflow: hidden;

            img {
                display: block;
                height: fit-content;
            }
            img.img-to-move {
                position: absolute;
                top: 0;
                transform: translateY(100%);
            }
        }
    
        .button-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
            .wrapper-to-move {
                position: relative;
                transition: transform .5s cubic-bezier(0.3, 0.29, 0, 01);
                overflow: hidden;
                padding-right: 5px;

                * {
                    transition: inherit;
                }

                h1 {
                    font-family: 'Satoshi';
                    font-weight: 900;
                    font-size: 8rem;
                    line-height: 8rem;
                    text-transform: uppercase;
                    letter-spacing: -6px;
                }

                h1.to-move {
                    position: absolute;
                    top: 0;
                    transform: translateY(100%);
                }
            }

            h4 {
                font-family: 'Satoshi';
                font-weight: 200;
                font-size: 1.25rem;
                text-transform: uppercase;
                font-style: italic;
                letter-spacing: -0.5px;
            }
        }
    
        &:hover, &:focus {
            cursor: pointer;

            .wrapper-to-move {
                h1 {
                    transform: translateY(-100%);
                }
                h1.to-move {
                    transform: translateY(0%);
                }
            }

            .wrapper-img-to-move {
                img {
                    transform: translateY(-100%);
                }
                img.img-to-move {
                    transform: translateY(0%);
                }
            }
        }
        
    }
}